.canje__cot{
    background-color: #ffffff;
    padding-top: 3%;
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-gap: 0;

}
.canje__coti{
    width: 90%;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding-left: 3%;
    padding-top: 20px;

}

select,
input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    border: 2px solid  #149CEA;
    margin: 15px 0;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  select:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  select:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  option {
    color: #333;
    font-weight: 500;
  }
  .card__canje {
    background-color:#f2f2f2;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 20px;
  }
  
  .card__canje h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
  }
  
  .card__canje p {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 12px;
    color: #666;
  }
  
  .card__canje p:last-child {
    margin-bottom: 0;
  }
  
  .card__canje p:nth-child(odd) {
    font-weight: bold;
  }
  
  .card__canje p:nth-child(3) {
    color: #1e9eff;
  }
  
  .card__canje p:last-child {
    font-size: 20px;
    font-weight: bold;
    margin-top: 16px;
    color: #1e9eff;
  }
  

  .btn123{
    border: solid 1px blue;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    margin: 10px 0px;
    align-items: center;
}

.btn123 {
    width: 40%;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: rgb(2, 2, 2);
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
  }
  
  .btn123::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #ffffff00;
    transition: 0.5s;
    transform-origin: center;
  }
  
  .btn123::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #ffffff00;
    transition: 0.5s;
  }
  
  .btn123:hover::before, .btn123:hover::after {
    transform: scale(0)
  }
  
  .btn123:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
  }

  .btn123.clicked {
    box-shadow: inset 0px 0px 25px #1479EA;
  }
  .btn123.clicked::before, .btn123.clicked::after {
    transform: scale(0)
  }
  