.slick-dots li button:before {
    color: #bbb;
  }
  
  .slick-dots li.slick-active button:before {
    color: #000;
  }
  
  .slider-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .slider-container {
    max-width: 800px;
    margin: 0 auto;
  }
  